<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834514444051-3hhg7qnb421pqmvghqehmut82iad00qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834514444051-3hhg7qnb421pqmvghqehmut82iad00qm</string>
	<key>API_KEY</key>
	<string>AIzaSyCxoBYWAnnVe3ZML9TgruCma_fx0T5e_d0</string>
	<key>GCM_SENDER_ID</key>
	<string>834514444051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codetalks</string>
	<key>PROJECT_ID</key>
	<string>codetalks-8120e</string>
	<key>STORAGE_BUCKET</key>
	<string>codetalks-8120e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834514444051:ios:4c7508fd65c6e80ec944e6</string>
</dict>
</plist>